.grid-container {
    width: 100%;
    max-width: 960px;
}

.row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
}
